@import "tailwindcss";

@theme {
  --color-emerald-500: #10b981;
}

:root {
  --background: #ffffff;
  --foreground: #111827;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}
